<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" *ngIf="artworkCarouselItems">
    <ol class="carousel-indicators">
      <li *ngFor="let item of artworkCarouselItems; let i = index" [attr.data-bs-target]="'#carouselExampleIndicators'" [attr.data-bs-slide-to]="i" [class.active]="i === 0"></li>
    </ol>
    <div class="carousel-inner">
      <div *ngFor="let item of artworkCarouselItems; let i = index" class="carousel-item" [class.active]="i === 0">
        <img [src]="item.image" [alt]="item.alt" class="d-block w-100">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>


<div class="container mt-5">
    <div class="row">
      <div class="col-md-12">
        <mat-paginator [length]="pagination.total" [pageSize]="pageSize" [pageSizeOptions]="[6, 12, 24, 48]" showFirstLastButtons (page)="onPageChange($event)">
        </mat-paginator>
      </div>
    </div>

    
    <!-- Artwork Listing -->
    <div class="row">
      <div class="col-md-12">
        <div class="results-container row flex-wrap">
          <div *ngFor="let art of pageSlice" class="col-md-4 mb-4">
            <div class="card" (click)="openDetail(art)">
              <img [src]="getArtworkImageUrl(art.image_id)" alt="{{ art.title }}" class="card-img-top" />
              <div class="card-body">
                <h5 class="card-title">{{ art.title }}</h5>
                <p class="card-text">{{ art.artist_title }}</p>
              </div>
            </div>
            <div class="button-container">
                <button mat-icon-button color="primary" (click)="addToFavorites(art)">
                  <mat-icon>favorite</mat-icon>
                </button>
              </div>
           
          </div>
        </div>
      </div>
    </div>
  

   
    
    <!-- Modal -->
    <div class="modal fade" id="artDetailModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">{{ selectedArt?.title }}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <img [src]="getArtworkImageUrl(selectedArt?.image_id)" alt="{{ selectedArt?.title }}" class="img-fluid mb-3">
              
              <!-- <p><strong>Artist:</strong> {{ selectedArt?.artist_title }}</p>
              <p><strong>Date:</strong> {{ selectedArt?.date }}</p>
              <p><strong>Description:</strong> {{ selectedArt?.description }}</p> -->
              <!-- Add more details as needed -->
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
  

        
    </div>



   
</div>  
